# Ignore dependencies, they will be installed inside the container
node_modules

# Ignore local environment files
.env*
.env

# Ignore logs and temporary files
npm-debug.log*
yarn-debug.log*
yarn-error.log*
/uploads/
/temp/

# Ignore local database files (if you use SQLite for local dev)
/prisma/*.db*
/prisma/dev.db*

# Ignore test files
/tests/

# Ignore git history and editor configs
.git
.gitignore
.vscode
.idea