.env
*.mp4
/.venv/
/assets/*.png
/assets/*.jpg
/assets/*.jpeg
/assets/*.mp3
/assets/*.mp4
/models/*.pth
/models/*.dat
/models/efficientnet_b7
/src/__pycache__
/src/app/__pycache__
/src/app/routers/__pycache__
/src/ml/__pycache__
/src/ml/models/__pycache__
/src/ml/architectures/__pycache__
/src/training/__pycache__